# Ignorar los módulos de Node.js (dependencias)
node_modules/

# Ignorar los archivos de registro
*.log

# Ignorar archivos de configuración que contengan secretos o información sensible
config.js

# Ignorar archivos de registro de errores (ejemplo: logs de errores de Node.js)
error.log

# Ignorar archivos generados automáticamente (por ejemplo, archivos de compilación)
dist/
build/

# Ignorar archivos temporales
*.tmp

# Ignorar archivos de entorno
.env

# Ignorar archivos de respaldo de editores de texto
*~

# Ignorar archivos de caché
.cache/
